@charset "UTF-8";
@keyframes menuAppearance {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loadding {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spinner {
  from {
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.gradient {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}

body {
  box-sizing: border-box;
  margin: auto;
  font-family: "Roboto";
  max-width: 415px;
  opacity: 1;
}

.section {
  position: absolute;
  height: 1770px;
  width: 100%;
}
.section__loader {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  position: sticky;
  opacity: 0;
}
.section__loader--triple {
  margin: auto;
  top: 50%;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spinner 2s cubic-bezier(1, -0.36, 1, -0.31);
}
.section__loader--triple::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  animation: spinner 2s cubic-bezier(1, -0.36, 1, -0.31);
}
.section__loader--triple::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  animation: spinner 2s cubic-bezier(1, -0.36, 1, -0.31);
}

.header {
  width: 100%;
  height: 60px;
  text-align: center;
  box-shadow: 0px 1px 10px rgb(177, 177, 177);
  position: relative;
}
.header__accueil {
  animation: loadding 2s cubic-bezier(1, -0.36, 1, -0.31);
}
.header__tittle {
  font-family: "Shrikhand";
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
.header__tittle--menue {
  padding-top: 0;
}
.header--menue {
  display: flex;
  align-items: center;
  gap: 20%;
  padding-left: 20px;
  box-shadow: none;
}
.header__goBack {
  color: black;
  font-size: 20px;
}

.localisation {
  background-color: #e4e4e4;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loadding 2s cubic-bezier(1, -0.36, 1, -0.31);
}
.localisation > i {
  padding-right: 20px;
  color: rgb(55, 55, 55);
}
.localisation > span {
  padding-right: 25px;
  font-size: 18px;
}

.presentation {
  background-color: #f8f8f8;
  margin-top: 0;
  height: 290px;
  display: flex;
  flex-direction: column;
  animation: loadding 2s cubic-bezier(1, -0.36, 1, -0.31);
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.presentation__tittle {
  font-weight: 700;
  font-size: 22px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 25px;
  text-align: center;
}
.presentation__summary {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20px;
}
.presentation__btn {
  height: 55px;
  width: 225px;
  border-radius: 25px;
  margin-bottom: 40px;
  font-size: 17px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 10px 15px #a09b9b;
  border: none;
  opacity: 100%;
  transition: all 400ms ease;
}
.presentation__btn:hover, .presentation__btn:active {
  opacity: 80%;
  box-shadow: 0px 15px 20px #a09b9b;
}

.functioning {
  display: flex;
  flex-direction: column;
  animation: loadding 2s cubic-bezier(1, -0.36, 1, -0.31);
  position: relative;
  gap: 20px;
}
.functioning__tittle {
  font-weight: 700;
  font-size: 22px;
  padding-top: 40px;
  padding-left: 7%;
}
.functioning__listBtn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.functioning__listBtn > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.functioning__btn {
  height: 75px;
  width: 80%;
  border-radius: 25px;
  background-color: #f8f8f8;
  box-shadow: 0px 10px 15px #ddd6d6;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
}
.functioning__btn > i {
  padding-right: 8%;
  padding-left: 8%;
  font-size: 20px;
  color: gray;
}
.functioning__btn:hover {
  background-color: #f6eaf8;
}
.functioning__btn:hover > i {
  color: #9356DC;
}
.functioning__btnNumber {
  background-color: #9356DC;
  color: white;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
  position: absolute;
  left: 7%;
  right: 83%;
}
.functioning__btnNumber > span {
  position: absolute;
  left: 32%;
  top: 15%;
}

.restaurant {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  animation: loadding 2s cubic-bezier(1, -0.36, 1, -0.31);
  margin-top: 60px;
  gap: 25px;
}
.restaurant__tittle {
  font-weight: 700;
  font-size: 22px;
  padding-top: 60px;
  padding-left: 7%;
}
.restaurant__tittle--modifier {
  font-size: 17px;
  padding: 0;
}
.restaurant__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.restaurant__list > a {
  text-decoration: none;
  color: black;
}
.restaurant__card {
  width: 85%;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
  background-color: white;
  margin: auto;
  position: relative;
}
.restaurant__card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 4%;
  padding-right: 7%;
}
.restaurant__fav {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 6%;
}
.restaurant__img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 150px;
}
.restaurant__description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 5px;
}
.restaurant__localisation {
  font-weight: 300;
}
.restaurant__new {
  position: absolute;
  background-color: #99E2D0;
  right: 4%;
  top: 5%;
  height: 23px;
  width: 73px;
  text-align: center;
  padding-top: 10px;
  color: #025b02;
  font-size: 13px;
}

.imagesMenue {
  width: 100%;
  height: 200px;
}
.imagesMenue > img {
  width: 100%;
  object-fit: cover;
}

.menue {
  border-radius: 45px 45px 0px 0px;
  position: relative;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.menue > button {
  margin-top: 20px;
  margin: auto;
  margin-bottom: 50px;
}
.menue__tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-right: 10%;
  padding-left: 5%;
}
.menue__tittle > span {
  font-weight: 500;
  font-size: 26px;
  font-family: "Shrikhand";
}
.menue__tittle > svg {
  height: 35px;
  width: 35px;
}
.menue__fav {
  stroke: gray;
  fill: white;
  transition: all 400ms ease;
}
.menue__fav:hover, .menue__fav:active {
  fill: #FF79DA;
  stroke: #FF79DA;
}
.menue__section {
  font-weight: 300;
  border-bottom: solid #99E2D0;
  width: 39px;
  padding-bottom: 5px;
}
.menue__list {
  display: flex;
  flex-direction: column;
}
.menue__list--global {
  gap: 45px;
  padding-left: 5%;
  padding-right: 3%;
}
.menue__list--section {
  gap: 15px;
}
.menue__list--subSection {
  gap: 15px;
}
.menue__plate {
  background-color: white;
  width: 94%;
  height: 65px;
  box-shadow: 0px 10px 15px #ddd6d6;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translateY(0);
  animation-name: menuAppearance;
  animation-duration: 0.8s;
  opacity: 1;
}
.menue__plate > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.menue__plate:hover::after {
  display: block;
  opacity: 1;
}
.menue__plate::after {
  content: "\f058";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 100%;
  background-color: #99E2D0;
  display: none;
  font-family: "Font Awesome 6 Free";
  color: white;
  font-size: 30px;
  text-align: center;
  transition: all 4s ease;
  opacity: 0;
}
.menue__plate:nth-of-type(2) {
  animation-delay: 0.1s;
}
.menue__plate:nth-of-type(3) {
  animation-delay: 0.2s;
}
.menue__plateName {
  font-weight: 600;
  font-size: 17px;
}
.menue__description {
  font-weight: 300;
  font-size: 14px;
}
.menue__price {
  font-weight: 600;
  position: absolute;
  right: 5%;
  top: 50%;
}

.footer {
  background-color: rgb(60, 60, 60);
  color: white;
  padding-left: 6%;
  padding-top: 20px;
  height: 190px;
}
.footer__accueil {
  animation: loadding 2s cubic-bezier(1, -0.36, 1, -0.31);
}
.footer__tittle {
  font-family: "Shrikhand";
  font-size: 19px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 19px;
}
.footer__content > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  display: flex;
  gap: 3%;
}
.footer__content--smallIcon {
  font-size: 11px;
}

/*.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #333;
    border-top-color: transparent;
    animation: spinner 1.5s linear infinite;
  }

  // Délai d'affichage de 1 à 3 secondes
  animation: show-spinner 1s linear 1s forwards;

  @keyframes show-spinner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}*/

/*# sourceMappingURL=style.css.map */
